{{ define "views/energia_form.html" }}

    <!DOCTYPE html>
    <html lang="pt-br">
    {{ template "layouts/header.html" }}
    <body>
    <input type="hidden" id="tituloPagina" value="Adicionar/editar consumo de energia">
        {{ template "layouts/navbar.html"}}
    <div class="container">
        <div class="espacador">
            <form name="energia_form" id="energia_form" method="post" action="../energia" needs-validation>
                <input type="hidden" value="{{ .energia.ID }}" name="id">
                <div class="form-group">
                    <label for="data">Data:</label>
                    <input id="data" name="data" class="form-control" type="date"
                           value="{{if .energia.Data }}{{ .energia.Data | extraiData }}{{ end }}" required>
                </div>
                <div class="form-group">
                    <label for="relogio_1">Relogio 1</label>
                    <input id="relogio_1" name="relogio_1" class="form-control" type="number"
                           value="{{ .energia.Relogio1 }}" required>
                </div>
                <div class="form-group">
                    <label for="relogio_2">Relogio 2</label>
                    <input id="relogio_2" name="relogio_2" class="form-control" type="number"
                           value="{{ .energia.Relogio2 }}" required>
                </div>
                <div class="form-group">
                    <label for="relogio_3">Relogio 3</label>
                    <input id="relogio_3" name="relogio_3" class="form-control" type="number"
                           value="{{ .energia.Relogio3 }}" required>
                </div>
                <div class="form-group">
                    <label for="valor_kwh">Valor kWh:</label>
                    <input id="valor_kwh" name="valor_kwh" class="form-control" type="number"
                           value="{{ printf "%f" .energia.ValorKwh }}" step="0.000001"/>
                </div>
                <div class="form-group">
                    <label for="valor_conta">Valor Conta:</label>
                    <input id="valor_conta" name="valor_conta" class="form-control" type="number"
                           value="{{ if .energia.ValorConta }}{{ .energia.ValorConta | arredonda2 }}{{ end }}"  step="0.01">
                </div>
                <div class="espacador"></div>
                <div class="rodapetabela">
                    <button class="botaosalvar">Salvar Dados</button>
                </div>
            </form>
        </div>
    </div>
    </body>
    </html>

{{ end }}